@import '@assets/styles/index.scss';

.payment-method {
	display: flex;
	flex-direction: column;
}
.card {
	@include box-shadow($colorBoxShadow);
	display: flex;
	flex-direction: column;
	//border: 1px solid rgba($colorBlack, 0.5);
	border-radius: 7px;
	overflow: hidden;
}
.top {
	display: flex;
	align-items: center;
	gap: 15px;
	padding: 15px 20px;
	background-color: rgba($colorGreen, 0.3);
	color: $colorGreen;
}
.inner {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 20px;
}

.input {
	@include input-item //width: 100%;
		//
		//& input {
		//	border: 1px solid #898989;
		//	border-radius: 5px;
		//	overflow: hidden;
		//	width: 100%;
		//	padding: 15px;
		//	color: $colorGreen;
		//	font-weight: 500;
		//
		//	&::placeholder {
		//		color: rgba($colorBlack, 0.5);
		//		font-size: 16px;
		//	}
		//
		//	&:focus {
		//		border: 1px solid $colorGreen;
		//		outline: none;
		//	}
		//
		//	&.error {
		//		box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
		//		border-color: red;
		//		&:hover {
		//			box-shadow: none;
		//			border-color: red;
		//		}
		//	}
		//
		//	&:hover {
		//		border: 1px solid $colorGreen;
		//	}
		//}
;
}

.row {
	display: flex;
	gap: 15px;
}

.inputMasked {
}
//.inputHolder {
//	text-transform: uppercase;
//}
