.list {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 15px;
	padding-top: 60px;
}
.content {
	flex: 1 1 100%;
}
.not-found {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	font-size: 20px;
	font-weight: 500;
}
