@use '@assets/styles/global' as *;
@use '@assets/styles/mixins' as *;
@use '@assets/styles/main' as *;

.card {
	display: flex;
	flex-direction: column;
	box-shadow: 0 4px 24px rgba(#7b7b7b, 0.15);
}

.wrap {
	display: flex;
	flex-direction: column;
	flex: 1 1 100%;
}
.image {
	width: 100%;
	padding-bottom: percent(200, 248);
	background-color: #f7f8fa;
	@include ibg;
}

.block {
	padding: 15px 20px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	flex: auto;
	@media (max-width: $pc) {
		gap: rem(10);
		padding: rem(15) rem(10);
	}
	@media (max-width: $mobile) {
		padding: rem(12) rem(7);
	}
}

.title {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: auto;
	font-size: 14px;
	font-weight: 700;
	line-height: 1.4;
	text-transform: uppercase;
	text-align: center;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3; /* количество строк */
	overflow: hidden;
	@media (max-width: $pc) {
		font-size: rem(12);
	}
	@media (max-width: $mobile) {
		font-size: rem(11);
	}
}

.row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
}

.price {
	display: flex;
	justify-content: flex-end;
	@include price(18px);
	@media (max-width: $tablet) {
		font-size: rem(16);
	}
}
