@use '@assets/styles/global' as *;
@use '@assets/styles/_main.sass' as *;

.list {
	display: flex;
	align-items: center;
	gap: 30px;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	@media (max-width: $mobile) {
		display: none;
	}
}
.link {
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	white-space: nowrap;
}
