@use '@assets/styles/global' as *;
.wrap {
	display: flex;
	align-items: center;
	justify-content: space-around;
	border: 1px solid $colorGreen;
	width: 100%;
	max-width: 75px;
	height: 30px;
	@media (max-width: $mobile) {
		max-width: 60px;
	}
	// @media (max-width: $mobileSmall) {
	// 	max-width: 50px;
	// }
}

.plus {
	color: $colorGreen;
	font-size: 18px;
	font-weight: 500;
	cursor: pointer;
	@media (max-width: $mobile) {
		font-size: 16px;
	}
}

.value {
	color: $colorBlack;
	font-size: 18px;
	font-weight: 500;
	@media (max-width: $tablet) {
		font-size: 14px;
	}
}

.minus {
	color: rgba($colorBlack, 0.5);
	font-size: 18px;
	font-weight: 500;
	cursor: pointer;
	@media (max-width: $mobile) {
		font-size: 16px;
	}
}
