@use '@assets/styles/global' as *;

.header {
	height: 75px;
	border-bottom: 1px solid #56b280;
}

.body {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
	position: relative;
}

.logo {
	width: 126px;
}

.buttons {
	display: flex;
	align-items: center;
	gap: 15px;
}

//.basket {
//	position: relative;
//	&::before {
//		content: attr(data-item-count);
//		display: flex;
//		align-items: center;
//		justify-content: center;
//		position: absolute;
//		width: 15px;
//		height: 15px;
//		top: -5px;
//		right: -5px;
//		background-color: $colorGreen;
//		color: $colorWhite;
//		border-radius: 50%;
//		font-size: 12px;
//		line-height: 1;
//		font-weight: 700;
//	}
//}

.link {
	position: relative;
	& span {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		width: 15px;
		height: 15px;
		top: -5px;
		right: -5px;
		background-color: $colorGreen;
		color: $colorWhite;
		border-radius: 50%;
		font-size: 12px;
		line-height: 1;
		font-weight: 700;
	}
}
