@use '@assets/styles/global' as *;
@use '@assets/styles/_main.sass' as *;

.footer {
	background-color: $colorBlack;
	padding: 60px 0;
	@media (max-width: $tablet) {
		padding: rem(40) 0;
	}
	@media (max-width: $mobile) {
		padding: rem(20) 0;
	}
}

.body {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
	border-top: 2px solid $colorWhite;
	padding-top: 20px;
	@media (max-width: $mobile) {
		flex-direction: column;
	}
}

.block {
	width: 250px;
	display: flex;
	flex-direction: column;
	gap: rem(15);
	@media (max-width: $mobile) {
		align-items: center;
	}
}

.logo {
	width: rem(60);
	@media (max-width: $mobile) {
		width: rem(50);
	}
	& img {
		width: 100%;
		height: auto;
		object-fit: cover;
	}
}

.discription {
	color: $colorWhite;
	font-size: rem(12);
	line-height: 1.4;
	@media (max-width: $mobile) {
		text-align: center;
	}
}

.row {
	display: flex;
	gap: rem(40);
	@media (max-width: $mobile) {
		gap: rem(30);
	}
}

.links {
	display: flex;
	flex-direction: column;
	gap: rem(15);
	color: $colorWhite;
}

.link {
	font-size: rem(12);
	line-height: 1;
	font-weight: 600;
	text-transform: uppercase;
	@media (max-width: $mobileSmall) {
		font-size: rem(10);
	}

	&:hover {
		color: $colorGreen;
	}
}
