@use '@assets/styles/global' as *;
@use '@assets/styles/main' as *;

.breadcrumbs {
	display: flex;
	flex-direction: column;
	gap: 30px;
	padding-bottom: 30px;
	@media (max-width: $pc) {
		gap: rem(20);
		padding-bottom: 20px;
	}
}
.nav {
	display: flex;
	align-items: center;
	gap: 10px;
	@media (max-width: $pc) {
		gap: rem(5);
	}
}
// .logo {
// 	width: 60px;
// 	@media (max-width: $mobile) {
// 		width: rem(50);
// 	}
// 	& img {
// 		width: 100%;
// 		height: auto;
// 		object-fit: cover;
// 	}
// }
.item {
	display: flex;
	align-items: center;
	gap: 10px;
	font-size: 16px;
	font-weight: 500;
	color: rgba($colorBlack, 0.5);
	pointer-events: none;
	&.active {
		color: $colorGreen;
		pointer-events: auto;
	}
	&.current {
		color: $colorBlack;
	}
	@media (max-width: $pc) {
		font-size: rem(14);
		gap: rem(5);
	}
}
