.products {
	padding: 40px 0;
	flex: 1 1 100%;
}

.body {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.heading {
	font-size: 40px;
	font-weight: 500;
	line-height: 1.2;
	text-align: center;
}

.subtitle {
	font-size: 18px;
	font-weight: 500;
	line-height: 1.2;
	text-align: center;
	margin-top: 15px;
}
