@use '@assets/styles/global' as *;

.shipping {
	display: flex;
	flex-direction: column;
	flex: auto;
}

.main {
	display: flex;
	flex-direction: column;
	gap: 40px;
	@media (max-width: $pc) {
		gap: 20px;
	}
}

.block {
	@include box-shadow($colorGreen);
	display: flex;
	flex-direction: column;
	//border: 1px solid $colorGreen;
	//box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	//box-shadow: 0 0 5px $colorGreen;
	//margin: 3px;
	border-radius: 7px;
	padding: 20px;
	@media (max-width: $pc) {
		padding: 15px;
	}
}

.item {
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 20px 0;
	@media (max-width: $pc) {
		padding: 15px 0;
	}

	&:first-child {
		padding-top: 0;
		padding-bottom: 20px;
		@media (max-width: $pc) {
			padding-bottom: 15px;
		}
	}
	&:not(:first-child) {
		border-top: 1px solid $colorGreen;
	}
	&:last-child {
		padding-top: 20px;
		padding-bottom: 0;
		@media (max-width: $pc) {
			padding-top: 15px;
		}
	}
}

.option-value {
	text-transform: uppercase;
	color: $colorGreen;
	font-weight: 500;
}

.label {
	color: #818181;
	font-size: 14px;
	flex: 0 0 60px;
}

.value {
	font-size: 14px;
	display: flex;
	align-items: center;
	gap: 5px;
}
