@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$colorGreen: #56b280;
$colorGrey: #f7f8fa;
$colorWhite: #ffffff;
$colorBlack: #272727;
$colorBoxShadow: #898989;
$colorRed: rgba(255, 0, 0, 1);

.container {
	max-width: 1200px;
	margin: 0 auto;
	height: 100%;
}

.wrapper {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	min-height: 100%;
}

.logo {
	width: 130px;

	& img {
		object-fit: contain;
		width: 100%;
		height: auto;
	}
}

.loader-svg-wrap {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.loader-svg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 20px;
}

.heading {
	font-size: 20px;
	line-height: 1.2;
	font-weight: 500;
	text-align: center;
	padding-bottom: 20px;
}

main {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	position: relative;
}

// mixins
@mixin price($size: 26px) {
	color: $colorGreen;
	font-size: $size;
	line-height: 1;
	font-weight: 600;
	text-transform: uppercase;
}

@mixin greenLink {
	color: $colorGreen;
	border-bottom: 1px solid $colorGreen;
	&:hover {
		border-color: transparent;
	}
}

@mixin greenButton($bgc: $colorGreen, $color: $colorWhite, $borderColor: transparent) {
	font-family: 'Poppins', sans-serif;
	display: flex;
	align-items: center;
	gap: 10px;
	justify-content: center;
	width: 100%;
	padding: 15px;
	background-color: $bgc;
	color: $color;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	border: 2px solid $borderColor;
	border-radius: 5px;
}

@mixin scroll-bar {
	scrollbar-width: auto;
	scrollbar-color: $colorWhite;
	&::-webkit-scrollbar {
		width: 12px;
	}
	&::-webkit-scrollbar-track {
		background: $colorWhite;
	}
	&::-webkit-scrollbar-thumb {
		background-color: rgba($colorBlack, 0.5);
		border-radius: 3px;
		cursor: pointer;
	}
}

@mixin input-item {
	width: 100%;

	& input {
		@include box-shadow($colorBoxShadow);
		//box-shadow: 0 0 5px #898989;
		//border: 1px solid #898989;
		//margin: 3px;
		border-radius: 5px;
		overflow: hidden;
		width: 100%;
		padding: 12px;
		color: $colorGreen;
		font-weight: 500;
		font-size: 14px;

		&::placeholder {
			color: rgba($colorBlack, 0.5);
			font-size: 14px;
		}

		&:focus {
			box-shadow: $colorGreen;
			//border: 1px solid $colorGreen;
			outline: none;
		}

		&.error {
			@include box-shadow($colorRed);
			//color: $colorBoxShadow;
			&::placeholder {
				color: $colorRed;
			}
			&:hover {
				@include box-shadow($colorRed);
			}
			//box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
			//border-color: red;
			//&:hover {
			//	box-shadow: none;
			//	border-color: red;
			//}
		}

		&:hover {
			@include box-shadow($colorGreen);
			//border: 1px solid $colorGreen;
		}
	}
}

@mixin box-shadow($color: $colorBoxShadow) {
	box-shadow: 0 0 5px $color;
	margin: 3px;
}
