@use 'sass:math';
@import 'global.scss';

body {
	height: 100%;
	& > div {
		height: 100%;
	}
}

@mixin ibg {
	position: relative;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}

@function percent($px, $from) {
	$result: math.div($px, $from) * 100%;
	@return $result;
}
