@use '@assets/styles/global' as *;

.details {
	display: flex;
	flex-direction: column;
	gap: 40px;
	@media (max-width: $pc) {
		gap: 30px;
	}
}

.block {
	display: flex;
	flex-direction: column;
	gap: 20px;
	@media (max-width: $pc) {
		gap: 10px;
	}
}

.title {
	font-size: 22px;
	line-height: 1;
	font-weight: 500;
}

.inputs {
	display: flex;
	flex-direction: column;
	gap: 12px;
	@media (max-width: $pc) {
		gap: 7px;
	}
}

.input {
	@include input-item //width: 100%;
		//
		//& input {
		//	border: 1px solid #898989;
		//	border-radius: 5px;
		//	overflow: hidden;
		//	width: 100%;
		//	padding: 15px;
		//	color: $colorGreen;
		//	font-weight: 500;
		//
		//	&::placeholder {
		//		color: rgba($colorBlack, 0.5);
		//		font-size: 16px;
		//	}
		//
		//	&:focus {
		//		border: 1px solid $colorGreen;
		//		outline: none;
		//	}
		//
		//	&.error {
		//		box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
		//		border-color: red;
		//		&:hover {
		//			box-shadow: none;
		//			border-color: red;
		//		}
		//	}
		//
		//	&:hover {
		//		border: 1px solid $colorGreen;
		//	}
		//}
;
}

.row {
	display: flex;
	gap: 15px;
	@media (max-width: $pc) {
		gap: 10px;
	}
}

.select {
	width: 100%;
	//&.error {
	//	& .item-select__control {
	//		border-color: red !important;
	//	}
	//}
}
